body, html {
  position: relative;
  background-image: url("images/bigdata.png");
  width: 100%;
  /*min-height: 100%;*/
  margin: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 0px;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Cairo';
  src: url('Cairo.eot'); /* IE9 Compat Modes */
  src: url('Cairo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Cairo.woff2') format('woff2'), /* Super Modern Browsers */
       url('Cairo.woff') format('woff'), /* Pretty Modern Browsers */
       url('Cairo.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Cairo.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/*{
  outline: 1px solid red;
 }

/*input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  input[type="password"] {
    font-size: 16px;
  }
}*/

body {
  padding-bottom: 60px;
}

html { 
  -ms-text-size-adjust:100%; 
  -webkit-text-size-adjust:100% ;
  touch-action: pan-x pan-y;
  height: 100% ;} /* prevent adjustments of font size after orientation changes in IE and iOS */

.bg {
  color: #FFF;
}

.header {
    padding: 10px 30px;
    background-color: rgba(17, 3, 53, .80);
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 10px rgba(3, 10, 14, .85);
  }

.navi li {
  display: inline;
}

.navi ul {
  display: inline-block;
  vertical-align: middle;
}

.contain ul {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  margin: 0;
  padding: 5px;
}

.contain a {
  color: #FFF;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease-out;
}

.contain a:hover {
  transform: scale(1.15)
}
  
  .nav li {
    padding: 15px;
    display: inline-block;
  }
  
  .nav2 li {
    padding: 5px;
    display: inline-block;
  }

  .gate a:hover {
    color:rgba(198, 190, 190, 0.755)
  }
  .twitter a:hover {
    color: #55ACEE;
  }

  .linked a:hover {
    color: #0072b1;
  }

  .email a:hover {
    color: #4285F4;
  }

  .hero {
    padding: 185px 200px;
    display: flex;
    justify-content: center;
    color: #FFF;
  }
  
  .hero-inner {
    max-width: 55%;
  }
  
  .hero h1 {
    font-weight: normal;
    font-size: 4rem;
    margin: 0;
  }
  
  .hero p {
    font-size: 1.18rem;
    line-height: 1.6;
    padding: 30px;
    display:inline-block;
  }

  .hero a {
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.782);
  }
  
  .button {
    background: gray;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-decoration: none;
    padding: 6px 20px;
    border-radius: 10px;
    font-size: 1.18rem;
    display: inline-block;
  }

  .button:hover {
    background-color: rgb(50, 49, 49);
    transition: all 0.15s ease;
  }

  .process {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .process img {
    width: 20%;
  }

  .dropbtn {
    width: 220px;
    height: 50px;
    background: #6322BF;
    background-blend-mode: darken;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.18rem;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    width: 220px;
  }

  .dropdown-content {
    color: black;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
  }

  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: #9466d4;}
 
  .dropdown .dropdown-content::after{
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #f1f1f1 transparent;
}

  
img {
    max-width: 100%;
    max-height: auto;
    display: block; /* remove extra space below image */
  }


.viz {
color: #FFF;
font-size: 1.4rem;
width: 70%;
margin-left: 16%;
margin-right: 15%;
}

.viz a {
  color: #FFF;
  text-decoration: underline;
  display: inline-block;
  transition: all 0.3s ease-out;
}

.graphs .viz .leftcol {
  text-align: left;
  padding-left: 6.5%;
}

.graphs .viz .rightcol {
  text-align: left;
  padding-right: 8%;
  padding-left: 6%;
}

.img_wrap {
  position: relative;
  height: 100%;
  width: 100%;
  display: table;
}

/*
.img_description {
  font-size: .7em;
  text-align: center;
  position: absolute;
  top: 311;
  right: 90;
  z-index: 2;
  height: 60px;
  word-wrap: break-word;
  width:375px;
  background: rgba(128, 122, 122, 0.755);
  color: black;
  visibility: hidden;
  opacity: 0;
  display: table-caption;
  caption-side: bottom;
  transition: all 0.4s ease;
  border-radius: 20px;
}

.img_description a {
  color: black;
  text-decoration: none;
  display: inline-block;
  padding-left: 20px;
}

.img_wrap:hover .img_description {
  visibility: visible;
  opacity: 1;
}

.img_wrap_2 {
  position: relative;
  height: 100%;
  width: 100%;
  display: table;
}

.img_description_2 {
  font-size: .7em;
  text-align: center;
  position: absolute;
  top: 311;
  right: 320;
  z-index: 2;
  height: 60px;
  word-wrap: break-word;
  width:375px;
  background: rgba(128, 122, 122, 0.755);
  color: black;
  visibility: hidden;
  opacity: 0;
  display: table-caption;
  caption-side: bottom;
  transition: all 0.4s ease;
  border-radius: 20px;
}

.img_description_2 a {
  color: black;
  text-decoration: none;
  display: inline-block;
  padding-left: 20px;
  padding-top: 15px;
}

.img_wrap_2:hover .img_description_2 {
  visibility: visible;
  opacity: 1;
}*/

div.pubs {
  counter-reset: list-number;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.pubs div {
  align-items: left;
  justify-content: left;
  margin-left: 50;
}

div.pubs div div:before {
  counter-increment: list-number;
  content: counter(list-number);
  
  margin-right: 10px;
  margin-bottom:10px;
  width:35px;
  height:35px;
  display:inline-flex;
  align-items:center;
  justify-content: center;
  font-size:16px;
  background-color:#38a2a2;
  border-radius:50%;
  color:#fff;
}
  
  .pubs a {
    color: #FFF;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease-out;
  }

  .hero_p {
    padding: 50px;
    display: flex;
    justify-content: center;
    color: #FFF;
  }

  .photos img {
    width: 100%;
    height: auto;
  }

.photos .bio .cam {
  width: 310px;
  padding: 5px;
}

.photos .bio .mountain {
  width: 666px;
  padding: 5px;
}

  .photos h1 {
    max-width: 950px;
  }

  .photos h2 {
    font-size: 4rem;
  }


  .bio {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fire {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fire img {
    width: 45%;
    padding: 5px;
  }

  .slate img {
    width: 90.7%;
    padding: 5px;
  }

  .nature {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nature img {
    padding: 5px;
  }

  .nature .bridge {
    width: 24.28%;
  }

  .nature .van {
    width: 65.7%;
  }

  .photos .sunset {
    padding: 5px;
    width: 90.7%;
  }

  .city {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .city img {
    padding: 5px;
  }

  .city .skull {
    width: 20.62%;
  }

  .city .leo {
    width: 46.3%;
  }

  .city .sd {
    width: 22.3%;
  }

  .photos .stars {
    padding: 5px;
    width: 90.7%;
  }

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(7, 1, 35);
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.footer li {
    margin: 0px;
    padding: 5px;
    display: inline-block;
  }

  .social a {
    color: #FFF;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease-out;
  }

  .social a:hover {
    transform: scale(1.15);
  }

  .social {
    list-style: none;
    margin: 0;
    padding: 0;
  }









  
  @media only screen and (max-width: 900px) {
        /*updated styles for your mobile elements that will become active when the screen 
    is smaller than 900px*/
    body, html {
      position: relative;
      background-image: url("images/bigdata.png");
      width: 100%;
      min-height: 100%;
      margin: 0px;
      background-repeat: no-repeat;
      background-size: 150% 150%;
      background-position: center center;
      padding: 0px;
      overflow-x: hidden;
    }
    
    .bod {
      background-size: 247% 247%;
    }

    .header {
      padding: 15 10px;
      width: 100%;
      background-color: rgba(17, 3, 53, .80);
      font-size: .6rem;
      color: #FFF;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      box-shadow: 0px 1px 10px rgba(3, 10, 14, .85);
    }

    .header img {
      width: 25%;
    }

    .contain ul {
      display: inline-block;
      vertical-align: middle;
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: .7rem;
    }

    .contain a {
      color: #FFF;
      text-decoration: none;
      display: inline-block;
      transition: all 0.3s ease-out;
    }
    
    .contain a:hover {
      transform: scale(1.15)
    }

    .navi li {
      display: inline;
    }
    
    .navi ul {
      display: inline-block;
      vertical-align: middle;
    }
      
      .nav li {
        display: inline-block;
        padding: 10px;
      }
      
      .nav2 li {
        display: inline-block;
      }

    .hero {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FFF;
    }
    
    .hero-inner {
      max-width: 100%;
    }
    
    .hero h1 {
      font-weight: normal;
      font-size: 4rem;
      margin: 0;
    }
    
    .hero p {
      font-size: 1.18rem;
      line-height: 1.6;
      padding: 1px;
      display:inline-block;
    }
  
    .hero a {
      text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.782);
    }

    .process {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .dropbtn {
      width: 220px;
      height: 50px;
      background: #6322BF;
      background-blend-mode: darken;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.18rem;
    }
  
    .dropdown {
      position: relative;
      display: inline-block;
      width: 220px;
    }
  
    .dropdown-content {
      color: black;
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      border-radius: 10px;
      margin-top: 10px;
      padding: 5px;
    }
  
    .dropdown:hover .dropdown-content {display: block;}
    .dropdown:hover .dropbtn {background-color: #9466d4;}
   
    .dropdown .dropdown-content::after{
      content: '';
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent #f1f1f1 transparent;
  }
  
    
  img {
      max-width: 100%;
      max-height: auto;
      display: block; /* remove extra space below image */
    }
  

  
  .viz {
  color: #FFF;
  font-size: 1.4rem;
  width: 70%;
  }
  
  .viz a {
    color: #FFF;
    text-decoration: underline;
    display: inline-block;
    transition: all 0.3s ease-out;
  }
  
  .graphs .viz .leftcol {
    text-align: left;
    padding-left: 6.5%;
  }
  
  .graphs .viz .rightcol {
    text-align: left;
    padding-right: 8%;
    padding-left: 6%;
  }
  
  .img_wrap {
    position: relative;
    height: 100%;
    width: 100%;
    display: table;
  }
  
  /*
  .img_description {
    font-size: .7em;
    text-align: center;
    position: absolute;
    top: 311;
    right: 90;
    z-index: 2;
    height: 60px;
    word-wrap: break-word;
    width:375px;
    background: rgba(128, 122, 122, 0.755);
    color: black;
    visibility: hidden;
    opacity: 0;
    display: table-caption;
    caption-side: bottom;
    transition: all 0.4s ease;
    border-radius: 20px;
  }
  
  .img_description a {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding-left: 20px;
  }
  
  .img_wrap:hover .img_description {
    visibility: visible;
    opacity: 1;
  }
  
  .img_wrap_2 {
    position: relative;
    height: 100%;
    width: 100%;
    display: table;
  }
  
  .img_description_2 {
    font-size: .7em;
    text-align: center;
    position: absolute;
    top: 311;
    right: 320;
    z-index: 2;
    height: 60px;
    word-wrap: break-word;
    width:375px;
    background: rgba(128, 122, 122, 0.755);
    color: black;
    visibility: hidden;
    opacity: 0;
    display: table-caption;
    caption-side: bottom;
    transition: all 0.4s ease;
    border-radius: 20px;
  }
  
  .img_description_2 a {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding-left: 20px;
    padding-top: 15px;
  }
  
  .img_wrap_2:hover .img_description_2 {
    visibility: visible;
    opacity: 1;
  }*/
  
  div.pubs {
    counter-reset: list-number;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  div.pubs div {
    align-items: left;
    justify-content: left;
    margin-left: 50;
  }
  
  div.pubs div div:before {
    counter-increment: list-number;
    content: counter(list-number);
    
    margin-right: 10px;
    margin-bottom:10px;
    width:35px;
    height:35px;
    display:inline-flex;
    align-items:center;
    justify-content: center;
    font-size:16px;
    background-color:#38a2a2;
    border-radius:50%;
    color:#fff;
  }
    
    .pubs a {
      color: #FFF;
      text-decoration: none;
      display: inline-block;
      transition: all 0.3s ease-out;
    }
  
    .hero_p {
      padding: 50px;
      display: flex;
      justify-content: center;
      color: #FFF;
    }

    .process {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .process img {
      width: 50%;
    }
  
    .dropbtn {
      width: 100%;
      height: 100%;
      background: #6322BF;
      background-blend-mode: darken;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1.5px;
      font-size: 1.18rem;
    }
  
    .dropdown {
      position: relative;
      display: inline-block;
      width: 100%;
    }
  
    .dropdown-content {
      color: black;
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      border-radius: 10px;
      margin-top: 10px;
      padding: 2px;
      font-size: .7rem;
    }
  
    .dropdown:hover .dropdown-content {display: block;}
    .dropdown:hover .dropbtn {background-color: #9466d4;}
   
    .dropdown .dropdown-content::after{
      content: '';
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent #f1f1f1 transparent;
  }
  
    
  img {
      max-width: 100%;
      max-height: auto;
      display: block; /* remove extra space below image */
    }
  
  
.output {
  margin-top: 50px;
}

.graphs {
  width: 100%;
  margin:auto;
}

 .graphs .viz {
  color: #FFF;
  font-size: .63rem;
  width: 100%;
  margin: auto;
  }

  .viz img {
    width: 100%;
  }

  .viz .twoplot {
    width: 90%;
  }
  
  .viz a {
    color: #FFF;
    text-decoration: underline;
    display: inline-block;
    transition: all 0.3s ease-out;
  }
  
  .graphs .viz .leftcol {
    text-align: left;
  }
  
  .graphs .viz .rightcol {
    text-align: left;
  }

  .graphs .viz {
    line-height: 1.6;
    border-collapse: collapse;
  }

  .viz td {
    padding: 0; 
    margin: 0;
  }
  
  /*.img_wrap {
    position: relative;
    height: 100%;
    width: 100%;
    display: table;
  }*/
  
  div.pubs {
    counter-reset: list-number;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  div.pubs div {
    align-items: left;
    justify-content: left;
    margin-left: 2;
    margin-right: 2;
  }
  
  div.pubs div div:before {
    counter-increment: list-number;
    content: counter(list-number);
    width:20px;
    height:20px;
    display:inline-flex;
    align-items:center;
    justify-content: center;
    font-size:10px;
    background-color:#38a2a2;
    border-radius:50%;
    color:#fff;
  }
    
    .pubs a {
      color: #FFF;
      text-decoration: none;
      display: inline-block;
      transition: all 0.3s ease-out;
      font-size: .55rem;
    }
  
    .hero_p {
      padding: 50px;
      display: flex;
      justify-content: center;
      color: #FFF;
    }

    .traittest {
      margin-bottom: 100px;
    }

    .photos img {
      width: 100%;
      height: auto;
    }


    .photos .bio .cam {
      width: 100px;
      padding-right: 5px;
      padding-left: 20px;
    }
    
    .photos .bio .mountain {
      width: 215px;
      padding-right: 20px;
    }
  
    .photos h1 {
      width: 100%;
      font-size: 1rem;
    }
  
    .photos h2 {
      font-size: 2rem;
    }
  
  
    .bio {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .fire {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .fire img {
      width: 44.46%;
      padding: 2.5px;
    }
  
    .slate img {
      width: 90.7%;
      height: auto;
      padding: 2.5px;
    }
  
    .nature {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .nature img {
      padding: 2.5px;
    }
  
    .nature .bridge {
      width: 24%;
    }
  
    .nature .van {
      width: 64.8%;
    }
  
    .photos .sunset {
      padding: 2.5px;
      width: 90.7%;
    }
  
    .city {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .city img {
      padding: 2.5px;
    }
  
    .city .skull {
      width: 20.2%;
    }
  
    .city .leo {
      width: 45.25%;
    }
  
    .city .sd {
      width: 21.7%;
    }
  
    .photos .stars {
      padding: 2.5px;
      width: 90.7%;
      margin-bottom: 20px;
    }
  
  .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 60px;
      background-color: rgb(7, 1, 35);
      color: #FFF;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
  .footer li {
      margin: 0px;
      padding: 5px;
      display: inline-block;
    }
  
    .social a {
      color: #FFF;
      text-decoration: none;
      display: block;
      transition: all 0.3s ease-out;
    }
  
    .social a:hover {
      transform: scale(1.15);
    }
  
    .social {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
